#btn{
    margin-left:50px;
    background-color: skyblue;
    align-items: center;
    color:white !important;
}

#btn1{
    margin-left:50px;
    background-color: skyblue;
    align-items: center;
    color:white !important;
}